@import views.html.helper.form
@import persistence.domain.{Movie, MovieTemp, MovieForm}
@(form: Form[MovieTemp])(implicit messages: Messages)
@main(){
@helper.form(routes.Create.AddMovie()) {
<div class="form-floating text-center">
    @helper.inputText(form("title"), Symbol("_label") -> ("Movie title:"))
    @helper.inputText(form("director"), Symbol("_label") -> ("Director name:"))
    @helper.inputText(form("rating"), Symbol("_label") -> ("Rating:"))
    @helper.inputText(form("genre"), Symbol("_label") -> ("Genre:"))
    @helper.inputText(form("img"), Symbol("_label") -> ("ImageURL:"))
    <button class="btn btn-primary" type="submit" id="submit">Update</button>
</div>
}
}