@import persistence.domain.{Movie}
@(result: Seq[Movie])

@main() {
    <div class="px-4 pt-5 my-5 text-center border-bottom">
        <h1 class="display-4 fw-bold">Welcome to CapMovies</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Movie list</p>
        </div>
    </div>

    <div> <!-- movie list -->

        <div class="card-deck m-2 mb-20 text-dark">
            <div class="row">
                @for(movie <- result) {
                <div class="col">
                    <div class="card text-center m-2" style="width: 20rem;">
                        <a href="/movie/@movie._id.stringify">
                            <img id="@movie.title poster" class="card-image-top" style="max-height: 30%; max-width: 80%;" src="@routes.Assets.versioned(movie.img)" alt="movie poster">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">@movie.title</h5>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>

    </div>
}
