@import views.html.helper.form
@import persistence.domain.{Search, SearchForm, Movie}
@(form: Form[Search], movies: Seq[Movie])(implicit messages: Messages)

@main() {
    <div class="px-4 py-3 my-5 text-center border-bottom">
            <div class="row-md">
                @helper.form(routes.HomeController.search()) {
                    @helper.input(form("searchTerm"), Symbol("_label") -> ("Search here:")) { (id, name, value, args) =>
                    <div class="input-group">
                            <input class="form-control" type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
                            <button class="btn btn-outline-secondary" type="submit" id="search">Search</button>
                    </div>
                    }
                }
            </div>
    </div>
    <div>
        @if(movies != null) {
            <div class="card-deck m-2 mb-20 text-dark">
                <div class="row">
                    @for(movie <- movies) {
                    <div class="col">
                        <div class="card text-center m-2" style="width: 20rem;">
                            <a href="/movie/@movie._id.stringify">
                                <img id="@movie.title poster" class="card-image-top" style="max-height: auto; max-width: 80%;" src="@routes.Assets.versioned(movie.img)" alt="movie poster">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">@movie.title</h5>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        }
    </div>
}
