@import views.html.helper.form
@import persistence.domain.{Movie, MovieTemp, MovieForm}
@import reactivemongo.bson.BSONObjectID
@(id: BSONObjectID, form: Form[MovieTemp])(implicit messages: Messages)

@main() {
    @helper.form(routes.HomeController.updateMovie(id)) {
    <div class="form-floating text-center">
        @helper.inputText(form("title"), Symbol("_label") -> ("Movie title:"))
        @helper.inputText(form("director"), Symbol("_label") -> ("Director name:"))
        @helper.inputText(form("rating"), Symbol("_label") -> ("Rating:"))
        @helper.inputRadioGroup(form("genre"), Seq("horror" -> "Horror", "action" -> "Action", "romance" -> "Romance", "sci-fi" -> "SCI-FI"))
        @helper.inputText(form("img"), Symbol("_label") -> ("ImageURL:"))
        <button class="btn btn-primary" type="submit" id="submit">Update</button>
    </div>
    }
}
