@import views.html.helper.form
@import persistence.domain.{Movie, MovieTemp, MovieForm}
@import reactivemongo.bson.BSONObjectID
@(id: BSONObjectID, form: Form[MovieTemp])(implicit messages: Messages)

@main() {
    @helper.form(routes.HomeController.updateMovie(id)) {
    <div class="form-floating text-center">
        @helper.inputText(form("title"), Symbol("_label") -> ("Movie title:"))
        @helper.inputText(form("director"), Symbol("_label") -> ("Director name:"))
        @helper.inputText(form("actors"), Symbol("_label") -> ("Actors:"))
        @helper.inputRadioGroup(form("rating"), Seq("U" -> "U", "PG" -> "PG", "12A" -> "12A", "15" -> "15", "158" -> "18"))
        @helper.inputRadioGroup(form("genre"), Seq("Drama" -> "Drama", "Crime" -> "Crime", "Fantasy" -> "Fantasy", "Thriller" -> "Thriller", "Horror" -> "Horror", "Action" -> "Action", "Romance" -> "Romance", "Sci-fi" -> "SCI-FI"))
        @helper.inputText(form("img"), Symbol("_label") -> ("ImageURL:"))
        <button class="btn btn-primary" type="submit" id="submit">Update</button>
    </div>
    }
}
<label for="Action">Action</label>
<input type="radio" id="Drama" name="genre" value="Drama">
<label for="Drama">Drama</label>
<input type="radio" id="Crime" name="genre" value="Crime">
<label for="Crime">Crime</label>
<input type="radio" id="Fantasy" name="genre" value="Fantasy">
<label for="Fantasy">Fantasy</label>
<input type="radio" id="Thriller" name="genre" value="Thriller">
<label for="Thriller">Thriller</label>
<input type="radio" id="Animation" name="genre" value="Animation">
<label for="Animation">Animation</label>
